/* @import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  font-family: 'Readex Pro', sans-serif;
} */

@layer components {
  .card {
    @apply
      bg-white text-gray-700
      w-80 max-h-[27rem]
      shadow-lg rounded-md 
      overflow-hidden
      mt-5
  }
  .badge {
    @apply
      px-3 py-1 rounded-full text-xs bg-gray-100

  }
  .product-title {
    @apply
      font-semibold text-2xl
      overflow-ellipsis overflow-hidden whitespace-nowrap
  }
  .button-primary {
    @apply
      bg-yellow-500/80 hover:bg-yellow-600/90 focus:bg-yellow-600/90
      px-6 py-2 rounded-md text-sm font-medium text-white
      transition duration-150 ease-in-out
      tracking-wider
  }
  .button-icon {
    @apply
       flex-grow
       flex justify-center items-center
       bg-gray-300/60 hover:bg-gray-300/40 focus:bg-gray-300/40
       transition duration-150 ease-in-out
       rounded-md p-2
  }
  .cart {
    @apply
      bg-black text-gray-700
      w-96 h-auto
      shadow-lg rounded-md 
      overflow-hidden
      flex-grow flex-col
      flex justify-center items-center
      p-4 fixed top-0 left-0
  }
  .gradient{
    background: linear-gradient(90deg, #f9d1cf 50%, #7ad592 50%);
  }
  .shadow-one {
    box-shadow: rgba(0, 0, 0, 0.09) 0px 20px 15px, 
    rgba(0, 0, 0, 0.09) 0px 4px 2px, 
    rgba(0, 0, 0, 0.09) 0px 8px 4px, 
    rgba(0, 0, 0, 0.09) 0px 26px 18px, 
    rgba(0, 0, 0, 0.09) 0px 60px 25px
  }
  .shadow-two {
    box-shadow: 6px 4px 4px -8px #000;
  }
  .drop-shadow-one {
    --tw-drop-shadow: drop-shadow(0 50px 50px rgb(0 0 0 / 0.03)) drop-shadow(0 58px 15px rgb(0 0 0 / 0.1));
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  }
}
