<section class="bg-gray-100 p-20 flex items-center justify-center gap-8">
    <div class="w-full min-h-screen bg-blue-50 p-6">
        <div class="flex flex-wrap justify-center">
          <% @categories.each do |category| %>
            <div class="flex flex-col bg-white rounded-lg shadow-md w-full m-6 overflow-hidden sm:w-52">
                <%= image_tag category.image, class: "h-20 m-6 max-h-40 object-cover", alt: category.name %>
                <%= link_to category.name, category_path(category.id), class: "text-center p-5" %>
            </div>
          <% end %>
        </div>
    </div>
</section>