<div class="relative" data-hovercard-target="card">
  <div data-tooltip-arrow class="absolute bottom-8 left-0 z-50 bg-white shadow-lg rounded-lg p-2 min-w-max-content">
    <div class="flex space-x-3 items-center w-full">
      <%= image_tag @product.image, class: "flex-shrink-0 h-64 w-64 object-cover border border-gray-200 bg-gray-100 rounded", alt: @product.name %>

      <div class="flex flex-col">
        <span class="text-sm leading-5 font-medium text-indigo-600">
          <%= @product.description %>
        </span>

        <span class="text-lg leading-0 font-semibold text-gray-900">
          <%= @product.name %>
        </span>

        <span class="flex text-sm text-gray-500">
          <%= @product.price %>
          <span class="mx-1">
            &middot;
          </span>
        </span>
      </div>
    </div>
  </div>
</div>
